{% extends "foreign/foreign_base.html" %}
{% block main_content %}
<div class=""module withNav"">
 	<h2>Error</h2>

    <div class="ltColumn">
        <p>We're sorry, but a problem has occurred with Foreign Influence Explorer.  Some things you might like to try include:</p>
        <ul>
            <li><a href="javascript:window.location.reload(true);">Refreshing the page</a></li>
            <li>Returning to the <a href="/">home page</a></li>
            <li><a href="/contact/">Contacting us</a> to let us know about the problem</li>
        </ul>
    </div>
 </div>
 {% endblock %}	