{% extends "foreign/foreign_base.html" %}
{% block main_content %}
<div id="floatingNavWrapper">
    <div id="floatingNav">
        
        <div id="miniNavWrapper">
            <div id="miniNav">
                <ul>
                    
                        <li><a href="#fara_section">Foreign Agent Feed</a></li>
                    
                        <li><a href="#arms_section">Proposed Arms Sales</a></li>
                    
                </ul>
            </div>
        </div>
 	</div>
</div>	

	<div class="module withNav">
		<p>
			Foreign Influence Explorer documents some of the ways foreign entities influence U.S. policy and opinions. This section of Influence Explorer uses different datasets since the reporting required of foreign entities is much more robust. View information about <a href="#fara_section">Foreign Agent Feed</a> and <a href="#arms_section">Proposed Arms Sales</a> below.
		</p>	
	</div>



	<a class="sectionLink" name="fara_section"></a>
	<div class="overviewBar withNav withTip">
		<h3 class="insideBar"><a href="/incoming_fara">Foreign Agent Feed</a></h3>
	</div>

	<div class="module withNav">
		<h4>Brief description:</h4>
		<p>
			Documents in the <a href="/incoming_fara">Foreign Agent Feed</a> come from the Department of Justice's <a href="http://www.fara.gov/">Foreign Agent Registrant Act Records</a>. 
		</p>
		<p>
			The DOJ describes the FARA records as, "a disclosure statute that requires persons acting as agents of foreign principals in a political or quasi-political capacity to make periodic public disclosure of their relationship with the foreign principal, as well as activities, receipts and disbursements in support of those activities." 
		</p>
		<p>
			This data applies to a wide range of cases from lobbyists advocating for foreign governments, public relations for travel and trade associations, individuals seeking visas and many other cases. Registrants are the persons or entities filing the forms, registrants represent one or more foreign interests. Sometimes registrants are representing themselves.   
		</p>
		<p>
			Clicking on a form in the <a href="/incoming_fara">Foreign Agent Feed</a> takes you to a document profile that lists the clients that the registrant represents. This list is created by looking up the most recently processed form in the system. If a newer form has not been processed, it is possible that the client composition could change.
		</p>
		<p>
			If a form has been processed, and the form deals with the information Sunlight tracks, a downloadable file will be created. The zip file will contain spreadsheets with any information dealing with who the registrant contacts, the political donations of the registrant, payments made to the registrant and disbursements made on behalf of the client.
		</p>
		<p>
			Please refer to the documentation in the download for a full explanation of the information in the spreadsheets. 
		</p>
		<br>
		<h4>
			Document types:
		</h4>
		
		<p>
			<b>Supplemental-</b> Provides information such as, what kind of public relations and lobbying a firm engages in on behalf of a foreign government. Supplementals have key information like contacts, payments, disbursements and contributions. These are filed every six months.
		</p>
		<p>
			<b>Registration-</b> Is the form filed by a new registrant, it includes similar information to the Supplemental forms. Registrations have key information like payments, disbursements and contributions. These are filed every six months.
		</p>
		<p>
			<b>AB-</b> These are two forms that a Registrant must file when it represents a new client. It includes the Client's information, describes the work that the registrant expects to do and includes a copy of the agreement. 
		</p>
		<p>
			<b>Amendment-</b> Makes corrections to other forms. 
		</p>	
		
		<p>
			Other document type include, Short Form registrations, for individuals representing foreign agents; Fund raising forms; and Articles of incorporation. Sunlight does not hand process these for its downloadable datasets but they are available on the <a href="http://www.fara.gov/search.html">FARA website</a>.
		</p>
		<br>
		<h4>
			Methodology:
		</h4>
		<p>
			The structured data is creating by crawling the DOJ website for documents and manually structuring and normalizing the data. Sunlight employees, interns and volunteers enter the data into web forms. Each line item contains a link to the original form for easy fact-checking and verification. We create spreadsheets describing contacts, contributions, payments and disbursements. 
		</p>
		<p>
			CONTACTS
		</p>
		<p>	 
			This data contains descriptions of lobbying contacts, press releases, meetings, conferences speeches and other activity reported in the FARA forms.
		</p>
		<p>	
			This is among the most valuable information that can be obtained via FARA because unlike lobbyists who represent domestic clients, representatives for foreign interests must name lawmakers, staff members and even journalists whom they meet on behalf of their client. 
		</p>
		<p>
			CONTRIBUTIONS
		</p>
		<p>
			Though foreign donations are barred from federal elections, U.S. citizens and organizations that represent foreign interests in the U.S. may still contribute to candidates and campaigns. They must report these donations, however, to the Justice Department under FARA.
		</p>
		<p>
			 Note: These figures will NOT match records available at the Federal Election Commission, in Sunlight's Influence Explorer or Center for Responsive Politics/Open Secrets. The reason: These contributions are self-reported by the registrant, while contribution records made available via the FEC are reported by political campaigns.  Because the FARA records have a different data source, the dates and amounts often will not match.
		</p>
		<p>
			Nonetheless, FARA political donation information is valuable because it bypasses the painstaking name-matching process required when fusing, campaign finance records and lobbying records for individuals and organizations that represent domestic clients and causes. The FARA records allow users to easily and reliably determine when someone from a lobbying or public relations organization is making campaign donations to the same political offices that they are contacting on behalf of a foreign client. (This is a common practice that is highlighted in this data.)
		</p>
		<p>

			PAYMENTS
		</p>
		<p>
			These numbers tell you how much a foreign government, company or other entity is paying the firms or individuals representing it in the United States. The client field represents a payment on behalf of the client. (In rare cases, other entities foot the bill for services.) 
		</p>
		<p>
			DISBURSEMENTS
		</p>
		<p>
			These are expenses that the individual or organization incurs while representing a foreign government or entity. 
		</p>

		<br/>

		
	</div>			


	<a class="sectionLink" name="arms_section"></a>
	<div class="overviewBar withNav withTip">
		<h3 class="insideBar"><a href="/incoming_arms">Proposed Arms Sales</a></h3>
	</div>
	<div class="module withNav">
		
		<p>
			Documents in the <a href="/incoming_arms">Proposed Arms Sales Feed</a> are press releases from <a href="http://www.dsca.mil/major-arms-sales/">The Defense Security Cooperation Agency</a> records. Keep in mind, the sales mentioned in this feed are only proposed and may not happen. 
		</p>
		<p>
			This resource is particularly useful to reporters and informed citizens can discover at issues that are up for negotiation and reference FARA records to see what kind of influence may be a factor in these important decisions.
		</p>
		<p>
			Clicking on a title will take you to a preview of the press release and a link to download the original document form The Defense Security Cooperation Agency. 
		</p>
		
	<br>	

	</div> 
</div>
{% endblock %}
