{% extends "foreign/foreign_base.html" %}
{% block main_content %}
<div id="floatingNavWrapper">
    <div id="floatingNav">
        
        <div id="miniNavWrapper">
            <div id="miniNav">
                <ul>
                    
                        <li><a href="#profile_section">Proposed Arms Sale Profile</a></li>
                    
                        <li><a href="#doc_section">Document</a></li>
                    
                </ul>
            </div>
        </div>
 	</div>
</div>


	<a class="sectionLink" name="profile_section"></a>
	<div class="overviewBar withNav withTip">
		<h3 class="insideBar">{{ title }}</h3>
	</div>

	<div class="module withNav">

		<p>Date Received: {{ date }}</p>
		<p>Location:
		{% if location_id %}
			<a href="/location-profile/{{ location_id }}"> {{ location }}</a>
		{% else %}
			{{ location }}
		{% endif %}
		</p>


		<p>
			Download this PDF of this press release from the The Defense Security Cooperation Agency <a href="{{ pdf_url }}">here</a>.
		</p>
		<p>
			Please note that notices do not mean a sale has been concluded.
		</p>

		<br/>

		
	</div>			


	<a class="sectionLink" name="doc_section"></a>
	<div class="overviewBar withNav withTip">
		<h3 class="insideBar">Document</h3>
	</div>
	<div class="module withNav">
	
	{% if pdf_url %}
		<iframe width="85%" height="700px" src="http://fara.sunlightfoundation.com.s3.amazonaws.com/arms_html/{{ doc_id }}/index.html"></iframe>
		<hr/>
		<h3 class="insideBar">
			Download this Press Release from the DSCA <a href="{{ pdf_url }}"><button class="downloadButton linkBtn enabled"></button></a>
		</h3>
	{% else %}
		<br>
		<h3 class="insideBar">
			See this Press Release from the DSCA <a href="{{ dsca_url }}"><button class="downloadButton linkBtn enabled"></button></a>
		</h3>
	{% endif %}

	<p>
		Document from the <a href="http://www.dsca.mil/major-arms-sales/">The Defense Security Cooperation Agency</a> press releases.
	</p>
	

	</div> 
</div>
{% endblock %}
