{% load humanize %}

<table class="tablesorter mainPageTable">
	<thead id="arms-title" class="header">
		<th class="foreignsort">&nbsp;Date</th>
		<th class="foreignsort">&nbsp;Title</th>
		<th class="foreignsort">&nbsp;Estimated value</th>
	</thead>
	<tbody>
		{% for r in results %}
			<tr class="{{ r.row }}">
				<td>{{ r.date }}</td>
				<td><a href="/arms-profile/{{ r.id }}">{{ r.title }}</a></td>
				<td><b><span class="strong-grey">{{ r.amount|floatformat:0|intcomma }}</span></b></td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% if page %}
<div class="pagination_container">
	<p>
	{% if page.previous > 0 %}
		<a href="?{{ page.query_params }}p={{ page.previous }}">Previous Page</a> /
	{% endif %} 
	Page {{ page.this }} 
	{% if  page.total > 1 %}
		(of <a href="?{{ page.query_params }}p={{ page.total }}">{{ page.total }} pages</a>) 
	{% endif %}
	{% if page.total > 1 and page.this != page.total %}
		/ <a href="?{{ page.query_params }}p={{ page.next }}">Next Page</a>
	{% endif %}
	</p>
</div>
{% endif %}