<table>
	<thead class="header">
		<th>Title</th><th>Estimated value</th><th>Date</th>
	</thead id="arms-title">
	<tbody>
		{% for r in results %}
			<tr class="{{ r.row }}">
				<td><a href="/arms-profile/{{ r.id }}">{{ r.title }}</a></td>
				<td>{{ r.price }}</td>
				<td>{{ r.date }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% if page %}
<div class="pagination_container">
	<p>
	{% if page.previous > 0 %}
		<a href="?{{ page.query_params }}p={{ page.previous }}">Previous Page</a> /
	{% endif %} 
	Page {{ page.this }} 
	{% if  page.total > 1 %}
		(of <a href="?{{ page.query_params }}p={{ page.total }}">{{ page.total }} pages</a>) 
	{% endif %}
	{% if page.total > 1 and page.this != page.total %}
		/ <a href="?{{ page.query_params }}p={{ page.next }}">Next Page</a>
	{% endif %}
	</p>
</div>
{% endif %}