{% extends "foreign/foreign_base.html" %}
{% block pagetopics %} {{ results.client }} {% endblock %}
{% load humanize %}
{% block main_content %}

<div id="floatingNavWrapper">
	<div id="floatingNav">        
	    {% if results.title %}
	    <div class="withNav" id="changeDates">
	    	<h4>Client Profile: {{ results.title }}</h4>
	    </div>
	    {% else %}
	    <div class="withNav" id="changeDates">
	    	<h4>Client Profile: {{ results.client }}</h4>
	    </div>
	    {% endif %}
	    
	    <div id="miniNavWrapper">
	        <div id="miniNav">
	            <ul>
	                
                    <li><a href="#stats_section">Client Statistics</a></li>

                    <li><a href="#profile_section">Summary</a></li>
	                
	            </ul>
	        </div>
	    </div>

	</div>
</div>

<a class="sectionLink" name="stats_section"></a>
<div class="overviewBar withNav withTip">
		<h3 class="insideBar">Client Statistics</h3>
</div>

<div class="module withNav">
	<h3 class="insideBar">
	<h3>{{ results.client }}</h3>

	<br>
	<h4 class="insideBar">Location: <a href="/location-profile/{{ results.location_id }}/{{ results.location }}">{{ results.location }}</a></h4>

	{% if results.total_13 %}
		<h4>Payments from the client in 2013:</h4>
		<span class="amount">
			${{ results.total_13|floatformat:2|intcomma }}
		</span>
		<div class="interiorMethodology">
			<a class="descriptor" title="More Information" href="#totalDescriptor">Information</a>
			<div class="clear">
			</div>
			<div class="descriptorText" id="totalDescriptor" style"display: none;">
				<p>The total adds all payments from this client reported to the Department of Justice during the 2013 calendar year. This may include payments form some 2012 activities.</p>
			</div>
		</div>
		<div class="clear"></div>
		<br>

	{% endif %}

	{% if results.total_14 %}
		<h4>Payments from the client in 2014:</h4>
		<span class="amount">
			${{ results.total_14|floatformat:2|intcomma }}
		</span>
		<div class="interiorMethodology">
			<a class="descriptor" title="More Information" href="#totalDescriptor14">Information</a>
			<div class="clear">
			</div>
			<div class="descriptorText" id="totalDescriptor14" style"display: none;">
				<p>The 2014 total adds all payments from this client reported to the Department of Justice during the 2014 calendar year. This may include payments form some 2013 activities. This total will be updated as documents are processed.</p>
			</div>
		</div>
		<div class="clear"></div>
		<br>

	{% endif %}

	{% if results.total_payment %}
		<h4 class="insideBar">
			See all <a href="/payment-table?client_id={{ results.client_id }}">payment records</a>
		</h4>
	{% endif %}

	{% if results.contacts %}
		<h4 class="insideBar">
			See all <a href="/contact-table?client_id={{ results.client_id }}">contact records</a>
		</h4>
	{% endif %}

	{% if results.total_disbursement %}
		<h4 class="insideBar">
			See all <a href="/disbursement-table?client_id={{ results.client_id }}"> disbursements records</a>
		</h4>
	{% endif %}

</div>	

<a class="sectionLink" name="profile_section"></a>
<div class="overviewBar withNav withTip">
	<h3 class="insideBar">Client Summary</h3>
</div>

<div class="module withNav">
	{% if results.description %}
		<p>
			Description: {{ results.description }}
		</p>
	{% endif %}
	{% if results.client_type %}
		<p>
			Client Type: {{ results.client_type }}
		</p>
	{% endif %}
	<br>

	{% if results.active_reg %}
		<h4 class="insideBar">Agents representing {{ results.client }} </h4>
		<blockquote>
		{% for reg in results.active_reg %}
			<p><a href="/reg-profile/{{ reg.id }}"><b>{{reg.name}}</b></a></p>
		{% endfor %}
		</blockquote>
	{% endif %}

	{% if results.terminated_reg %}
		<br>
		<h4 class="insideBar">Agents formerly representing {{ results.client }} </h4>
		<blockquote>
		{% for reg in results.terminated_reg %}
			<p><a href="/reg-profile/{{ reg.id }}"><b>{{reg.name}}</b></a></p>
		{% endfor %}
		</blockquote>
	{% endif %}

</div>	

{% endblock %}
