{% extends "foreign/foreign_base.html" %}
{% load humanize %}
{% block main_content %}

<div id="floatingNavWrapper">
	<div id="floatingNav">        
	    
	    <div class="withNav" id="changeDates">
	    	<h4>Client Profile {{ results.client }}</h4>
	    </div>
	    
	    <div id="miniNavWrapper">
	        <div id="miniNav">
	            <ul>
	                
                    <li><a href="#stats_section">Client Statistics</a></li>

                    <li><a href="#profile_section">Summary</a></li>
	                
	            </ul>
	        </div>
	    </div>

	</div>
</div>

<a class="sectionLink" name="stats_section"></a>
<div class="overviewBar withNav withTip">
		<h3 class="insideBar">Client Statistics</h3>
</div>

<div class="module withNav">
	<h3 class="insideBar">
	<h3>{{ results.client }}</h3>

	<br>
	<h4 class="insideBar">Location: <a href="/location-profile/{{ results.location_id }}/{{ results.location }}">{{ results.location }}</a></h4>

	{% if results.running_total_13 %}
		<h4>Running total of processed payments since 2013:</h4>
		<span class="amount">
			${{ results.running_total_13|floatformat:2|intcomma }}
		</span>
		<div class="interiorMethodology">
			<a class="descriptor" title="More Information" href="#runningTotalDescriptor">Information</a>
			<div class="clear">
			</div>
			<div class="descriptorText" id="runningTotalDescriptor" style"display: none;">
				<p>The running total adds all payments reported for the client from January 1, 2013 to the present. This total is updated as new payments are added to the database.</p>
			</div>
		</div>
		<div class="clear"></div>
		<br>
	{% endif %}

	{% if results.total_payment %}
		<h4 class="insideBar">
			See all <a href="/payment-table?client_id={{ results.client_id }}">payment records</a>
		</h4>
	{% endif %}

	{% if results.contacts %}
		<h4 class="insideBar">
			See all <a href="/contact-table?client_id={{ results.client_id }}">contact records</a>
		</h4>
	{% endif %}

	{% if results.total_disbursement %}
		<h4 class="insideBar">
			See all <a href="/disbursement-table?client_id={{ results.client_id }}"> disbursements records</a>
		</h4>
	{% endif %}

</div>	

<a class="sectionLink" name="profile_section"></a>
<div class="overviewBar withNav withTip">
	<h3 class="insideBar">Client Summary</h3>
</div>

<div class="module withNav">
	{% if results.description %}
		<p>
			Description: {{ results.description }}
		</p>
	{% endif %}
	{% if results.client_type %}
		<p>
			Client Type: {{ results.client_type }}
		</p>
	{% endif %}
	<br>

	{% if results.active_reg %}
		<h4 class="insideBar">Agents representing {{ results.client }} </h4>
		<blockquote>
		{% for reg in results.active_reg %}
			<p><a href="/reg-profile/{{ reg.id }}"><b>{{reg.name}}</b></a></p>
		{% endfor %}
		</blockquote>
	{% endif %}

	{% if results.terminated_reg %}
		<br>
		<h4 class="insideBar">Agents formerly representing {{ results.client }} </h4>
		<blockquote>
		{% for reg in results.terminated_reg %}
			<p><a href="/reg-profile/{{ reg.id }}"><b>{{reg.name}}</b></a></p>
		{% endfor %}
		</blockquote>
	{% endif %}

</div>	

{% endblock %}
