{% extends "foreign/foreign_base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block main_content %}
<div class="module withNav">

<h3>
	Contacts {% if title %}for {% endif %} 
	{% for t in title %}
		{% if t.id %}<a href="{{ t.type }}-profile/{{ t.id }}">{% endif %}
			{{ t.text }} 
		{% if t.id %}</a>{% endif %}; 
	{% endfor %}
</h3>
<a class="moreLink" href="/methodology">
    Please read documentation
</a>

{% if buttons %}
<div class="pagination_container">
	<h4>See related records:</h4>
	{% if buttons.contribution %} 
		<h4><a href="contribution-table?{{ page.query_params }}">Contributions</a></h4>
	{% endif %}
	{% if buttons.payment %} 
		<h4><a href="payment-table?{{ page.query_params }}">Payments</a></h4>
	{% endif %}
	{% if buttons.disbursement %} 
		<h4><a href="disbursement-table?{{ page.query_params }}">Disbursements</a></h4>
	{% endif %}
</div>
{% endif %}


<table>
	<thead class="header">
		<th>Date</th>
		<th>Contact</th>
		<th>Client</th>
		<th>Registrant</th>
		<th>Description</th>
		<th>Employees</th>
		<th>Filing</th>
	</thead>
	<tbody>
		{% for c in contacts %}
			<tr class="{{ c.row }}">
				<td>{{ c.date }}</a></td>
				<td>
					{% for person in c.contact %}
						{% if person.recipient_id %}<a href="/recipient-profile/{{ person.recipient_id }}">{% endif %}
							{{ person.name }}<br>
						{% if person.recipient_id %}</a>{% endif %}; 
					{% endfor %}
				</td>
				<td><a href="/client-profile/{{ c.client_id }}">{{ c.client }}</a></td>
				<td><a href="/reg-profile/{{ c.reg_id }}">{{ c.registrant }}</td>
				<td>{{ c.description }}</td>
				<td>{{ c.employees }}</td>
				<td><a href="/form-profile/{{ c.doc_id }}"><img src="{% static "dryrub/images/doc_text_image.png" %}"></td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% if page %}
<div id="pagination_container">
	<p>
	{% if page.previous > 0 %}
		<a href="?{{ page.query_params }}p={{ page.previous }}">Previous Page</a> /
	{% endif %} 
	Page {{ page.this }} 
	{% if  page.total > 1 %}
		(of <a href="?{{ page.query_params }}p={{ page.total }}">{{ page.total }} pages</a>) 
	{% endif %}
	{% if page.total > 1 and page.this != page.total %}
		/ <a href="?{{ page.query_params }}p={{ page.next }}">Next Page</a>
	{% endif %}
	</p>
</div>
{% endif %}

</div>
{% endblock %}