{% extends "foreign/foreign_base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block main_content %}
<div class="module withNav">

<h3>
	Contributions {% if title %}for {% endif %}
	{% for t in title %}
		{% if t.id %}<a href="{{ t.type }}-profile/{{ t.id }}">{% endif %}
			{{ t.text }} 
		{% if t.id %}</a>{% endif %}; 
	{% endfor %}
</h3>

<a class="moreLink" href="/methodology">
    Please read documentation
</a>

{% if buttons %}
<div style="float:right">
	<h4>See related records:</h4>
	{% if buttons.contact %} 
		<h4><a href="contact-table?{{ page.query_params }}">Contacts</a></h4>
	{% endif %}
	{% if buttons.payment %} 
		<h4><a href="payment-table?{{ page.query_params }}">Payments</a></h4>
	{% endif %}
	{% if buttons.disbursement %} 
		<h4><a href="disbursement-table?{{ page.query_params }}">Disbursements</a></h4>
	{% endif %}
</div>
{% endif %}

<table>
	<thead class="header">
		<th>Date</th>
		<th>Amount</th>
		<th>Recipient</th>
		<th>Registrant</th>
		<th>Contributor</th>
		<th>Filing</th>
	</thead>
	<tbody>
		{% for c in contributions %}
			<tr class="{{ c.row }}">
				<td>
					{{ c.date }}
				</td>
				<td>
					${{ c.amount|floatformat:2|intcomma }}
				</td>
				<td>
					<a href="/recipient-profile/{{ c.recipient_id }}">{{ c.recipient }}</a>
				</td>
				<td>
					<a href="/reg-profile/{{ c.reg_id }}">{{ c.registrant }}
				</td>
				<td>
					{{ c.contributor }}
				</td>
				<td><a href="/form-profile/{{ c.doc_id }}"><img src="{% static "dryrub/images/doc_text_image.png" %}"></td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% if page %}
<div class="pagination_container">
	<p>
	{% if page.previous > 0 %}
		<a href="?{{ page.query_params }}p={{ page.previous }}">Previous Page</a> /
	{% endif %} 
	Page {{ page.this }} 
	{% if  page.total > 1 %}
		(of <a href="?{{ page.query_params }}p={{ page.total }}">{{ page.total }} pages</a>) 
	{% endif %}
	{% if page.total > 1 and page.this != page.total %}
		/ <a href="?{{ page.query_params }}p={{ page.next }}">Next Page</a>
	{% endif %}
	</p>
</div>
{% endif %}

</div>
{% endblock %}