{% extends "foreign/foreign_base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block main_content %}
<div class="module withNav">

<h3>
	Disbursements {% if title %}for {% endif %}
	{% for t in title %}
		{% if t.id %}<a href="{{ t.type }}-profile/{{ t.id }}">{% endif %}
			{{ t.text }} 
		{% if t.id %}</a>{% endif %}; 
	{% endfor %}

</h3>

<a class="moreLink" href="/methodology">
    Please read documentation
</a>

{% if buttons %}
<div style="float:right">
	<h4>See related records:</h4>
	{% if buttons.contribution %} 
		<h4><a href="contribution-table?{{ page.query_params }}">Contributions</a></h4>
	{% endif %}
	{% if buttons.contact %} 
		<h4><a href="contact-table?{{ page.query_params }}">Contacts</a></h4>
	{% endif %}
	{% if buttons.payment %} 
		<h4><a href="payment-table?{{ page.query_params }}">Payments</a></h4>
	{% endif %}
</div>
{% endif %}

<table>
	<thead class="header">
		<th>Date</th>
		<th>Amount</th>
		<th>Client</th>
		<th>Registrant</th>
		<th>Purpose</th>
		<th>To Subcontractor</th>
		<th>Filing</th>
	</thead>
	<tbody>
		{% for d in disbursements %}
			<tr class="{{ d.row }}">
				<td>
					{{ d.date }}
				</td>
				<td>
					${{ d.amount|floatformat:2|intcomma }}
				</td>
				<td>
					<a href="/client-profile/{{ d.client_id }}">{{ d.client }}</a>
				</td>
				<td>
					<a href="/reg-profile/{{ d.reg_id }}">{{ d.reg_name }}
					</td>
				<td>
					{{ d.purpose }}
				</td>
				<td>
					<a href="/reg-profile/{{ d.subcontractor_id }}">{{ d.subcontractor }}</a>
				</td>
				<td><a href="/form-profile/{{ d.doc_id }}"><img src="{% static "dryrub/images/doc_text_image.png" %}"></td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% if page %}
<div class="pagination_container">
	<p>
	{% if page.previous > 0 %}
		<a href="?{{ page.query_params }}p={{ page.previous }}">Previous Page</a> /
	{% endif %} 
	Page {{ page.this }} 
	{% if  page.total > 1 %}
		(of <a href="?{{ page.query_params }}p={{ page.total }}">{{ page.total }} pages</a>) 
	{% endif %}
	{% if page.total > 1 and page.this != page.total %}
		/ <a href="?{{ page.query_params }}p={{ page.next }}">Next Page</a>
	{% endif %}
	</p>
</div>
{% endif %}

<div class="clear"></div>
<a href="{{ ie_url }}"><button class="downloadButton linkBtn">Download spreadsheet</button>
</a>
<div class="clear"></div>

</div>
{% endblock %}