{% load staticfiles %}
<table>
	<thead class="header">
		<th>Document type</th><th>Registrant</th><th>Date received</th><th>Processed</th>
	</thead>
	<tbody>
		{% for c in table_info.1 %}
			<tr class="{{ c.place }}">
				<td><a href="/{{ c.profile_url }}">{{ c.doc_type }}</a></td>
				<td>{{ c.reg_name }}</td>
				<td>{{ c.stamp_date }}</td>
				<td>{% if c.processed = True %}
						<img src="{% static "dryrub/images/icon_check.png" %}">
					{% endif %}
				</td>

			</tr></a>
		{% endfor %}
	</tbody>
</table>

{% if page %}
<div id="pagination_container">
	<p>
	{% if page.previous > 0 %}
		<a href="?{{ page.query_params }}p={{ page.previous }}">Previous Page</a> /
	{% endif %} 
	Page {{ page.this }} 
	{% if  page.total > 1 %}
		(of <a href="?{{ page.query_params }}p={{ page.total }}">{{ page.total }} pages</a>) 
	{% endif %}
	{% if page.total > 1 %}
		/ <a href="?{{ page.query_params }}p={{ page.next }}">Next Page</a>
	{% endif %}
</div>
{% endif %}