{% extends "dryrub/base.html" %}
{% load staticfiles %}

{% block sitecss %}
<link rel="stylesheet" href="{% static "foreign/css/foreign.css" %}" />
{% endblock %}


{% block search %}
<!-- blocking full site search  -->
{% endblock %}

{% block main %}
    <div id="contentHeader">

    <div style="float:right">
        <form id="searchForeign" action="/search" method="get">
            <input name="q" placeholder="search" maxlength="200" type="text" id="id_query">
            <button class="searchBtn_sm" type="submit">
            <span>Go</span>
            </button>
        </form>
        
        <div class="clear"></div>
        <span class="tip">Search for a country, person, or keyword</span>
    </div>

        <p>
            <h2>Foreign Influence Explorer</h2>
        </p>
    </div>

    <nav id="sub_nav">
        <ul>
            <li class="first"><a href="/incoming-fara">Foreign Agent Feed</a></li>
            <li><a href="/incoming-arms">Proposed Arms Feed</a></li>
            <li>Map</li>
            <li><a href="/registrants2013">Foreign Agents</a></li>
        	<li><a href="/clients">Clients<a></li>
            <li><a href="/methodology">Methodology</li>
            <li class="last"><a href="/">About</a></li>
        </ul>
    </nav>

    {% block main_content %}{% endblock %}

{% endblock %}

{% block sitejs %}{% endblock %}