{% extends "foreign/foreign_base.html" %}
{% load humanize %}
{% block main_content %}


<div id="floatingNavWrapper">
<div id="floatingNav">        
    <div class="withNav" id="changeDates">
    	<h4>Document Profile {{ results.reg_name }}</h4>
    </div>

    <div id="miniNavWrapper">
        <div id="miniNav">
            <ul>
                
                    <li><a href="#profile_section">Summary</a></li>
                    
                    <li><a href="#doc_section">Document</a></li>
                
            </ul>
        </div>
    </div>
</div>
</div>


	<a class="sectionLink" name="profile_section"></a>
	<div class="overviewBar withNav withTip">
		<h3 class="insideBar">Summary</h3>
	</div>

	<div class="module withNav">
			<h4>Foreign Agent</h4>
			<h3><a href="/reg-profile/{{ reg_id }}/{{ registrant }}">{{ registrant }}</a></h3>

			<h4 class="insideBar">Document type: {{ doc_type }}</h4>
			<p class="tip">
			{% if doc_type = "Supplemental" %}
				Report of activities posted every six months
			{% endif %}
			{% if doc_type = "Registration" %}
				Initial registration form
			{% endif %}
			{% if doc_type = "Exhibit AB" %}
				New client form
			{% endif %}
			{% if doc_type = "Amendment" %}
				Amends a previous form
			{% endif %}
			</p>

		<p>Date Received: {{ stamp_date }}</p>


		{% if amended = True %}
		<h3>This form has been amended</h3>
		{% endif %}

		{% if totals.total_contribution %}
			<table>	
				<thead>
					<th class="header">Political donations from {{ registrant }}</th>
				</thead>
				<tbody>
					<tr class="even"><td><a href="/contribution-table?doc_id{{ doc_id }}">${{ totals.total_contribution|floatformat:2|intcomma }}</a></td></tr>
				</tbody>
			</table>
		{% endif %}

		{% if clients or terminated_clients %}
			<table>
				<thead>
					<th class="header">Client</th>
					<th>Location</th>
					{% if totals.total_payment %}<th>Payment</th>{% endif %}
					{% if totals.total_contact %}<th>Contacts</th>{% endif %}
					{% if totals.total_disbursement %}<th>Disbursements</th>{% endif %}
				</thead>

				<tbody>
					{% for c in clients %}
						<tr class="{{ c.row }}">
						<td >
							<a href="/client-profile/{{ c.client_id }}/{{ c.client_name }}">{{ c.client_name }}</a>
						</td>
						<td>
							<a href="/location-profile/{{ c.location_id }}/{{ c.location }}">{{ c.location }}</a>
						</td>
						{% if totals.total_payment %}
							<td>
								{% if c.payment %}
									<a href="/payment-table?doc_id={{ doc_id }}&client_id={{ c.client_id }}">${{ c.payment|floatformat:2|intcomma }}
								{% endif %}
							</td>
						{% endif %}
						{% if totals.total_contact %}
							<td>
								{% if c.contact %}
									<a href="/contact-table?doc_id={{ doc_id }}&client_id={{ c.client_id }}">{{ c.contact }}</a>
								{% endif %}
							</td>
						{% endif %}
						{% if totals.total_disbursement %}
							<td>
								{% if c.disbursement %}
									<a href="/disbursement-table?doc_id={{ doc_id }}&client_id={{ c.client_id }}">${{ c.disbursement|floatformat:2|intcomma }}
								{% endif %}
							
							</td>
						{% endif %}
						</tr>
					{% endfor %}

					{% for c in terminated_clients %}
							<tr class="{{ c.row }}">
							<td >
								<a href="/client-profile/{{ c.client_id }}/{{ c.client_name }}">{{ c.client_name }} *</a>
							</td>
							<td>
								<a href="/location-profile/{{ c.location_id }}/{{ c.location }}">{{ c.location }}</a>
							</td>
							{% if totals.total_payment %}
							<td>
								{% if c.payment %}<a href="/payment-table?doc_id={{ doc_id }}&client_id={{ c.client_id }}">${{ c.payment|floatformat:2|intcomma }}{% endif %}
							</td>
							{% endif %}
							{% if totals.total_contact %}
							<td>
								{% if c.contact %}
									<a href="/contact-table?doc_id={{ doc_id }}&client_id={{ c.client_id }}">{{ c.contact }}</a>
								{% endif %}
							</td>
							{% endif %}
							{% if totals.total_disbursement %}
							<td>
								{% if c.disbursement %}<a href="/disbursement-table?doc_id={{ doc_id }}&client_id={{ c.client_id }}">${{ c.disbursement|floatformat:2|intcomma }}{% endif %}
							</td>
							{% endif %}
						</tr>
					{% endfor %}
					{% if totals %}
					<tr>
						<td>
							Totals:
						</td>
						<td></td>
						{% if totals.total_payment %}
							<td><a href="/payment-table?doc_id={{ doc_id }}">
								${{ totals.total_payment|floatformat:2|intcomma }}</a>
							</td>
						{% endif %}
						{% if totals.total_contact %}
							<td><a href="/contact-table?doc_id={{ doc_id }}">
								{{ totals.total_contact }}</a>
							</td>
						{% endif %}
						{% if totals.total_disbursement %}
							<td><a href="/disbursement-table?doc_id={{ doc_id }}">
								${{ totals.total_disbursement|floatformat:2|intcomma }}</a></td>
						{% endif %}
					</tr>
					{% endif %}

				</tbody>
			</table>

			{% if terminated_clients %}
				<p>* terminated client</p>
			{% endif %}
		{% endif %}

		{% if download %}
		<p align="right"> Download detailed spreadsheets here:</p>	
		<a href="{{ download }}"><button class="downloadButton linkBtn">Download spreadsheet</button></a>
		{% endif %}
		
		{% if not processed %}
			<p>* This form has not yet been processed. There may be changes to the client list.</p>
		{% endif %}

		<br />
	
	</div>			


	<a class="sectionLink" name="doc_section"></a>
	<div class="overviewBar withNav withTip">
		<h3 class="insideBar">Document</h3>
	</div>
	<div class="module withNav">
		
		{% if html_version %}
			<iframe width="85%" height="700px" src="{{ html_version }}"></iframe>
			<hr/>
		{% else %}
			<br>	
		{% endif %}
		<h3>
			Download this PDF from the Department of Justice <a href="{{ source_url }}"><button class="downloadButton linkBtn">Download spreadsheet</button></a>
		</h3>

		<br/>
		
		<p>
			Document from the Department of Justice <a href="http://www.fara.gov/">Foreign Agents Registration Act</a> records.
		</p>
	</div> 
</div>
{% endblock %}
