{% extends "foreign/foreign_base.html" %}
{% load staticfiles %}

{% block js %}
<script src="{% static "dryrub/js/jquery.tablesorter.min.js" %}"></script>
{% endblock %}
{% block main_content %}

<!--
<div class="overviewBar withNav withTip">
		<h3>Foreign Agent Feed</h3>
</div>
-->


<div id="floatingNavWrapper">
<div id="floatingNav">  
    <div class="document-primer-wrapper">
        <div class="document-primer">
            <ul>
                <li><br><a href="http://foreign.influenceexplorer.com/about#fara_section">What are these documents?</a></li>
            </ul>
        </div>
    </div>
</div>
</div>

<div class="withNav" id="incoming-header">
		<h4>
            <b>Latest Foreign Agents Registration Act documents from the <a href="http://www.fara.gov/">Department of Justice</a>.</b>
        </h4>
    <p>
            <i>Click <a href="/about#fara_section">here</a> for an explanation of these records.</i>
            <br><br>
	</p>

	
</div>

<div class="module withNav">
	{% include "foreign/fara_doc_table.html" with table_info=table_info %}
</div>

<script type="text/javascript">
// - See more at: http://www.christianmontoya.com/2008/11/14/extending-jquery-tablesorter-to-support-comma-delimited-numbers/#sthash.md10swBV.dpuf
$(document).ready(function() {
   // jQuery.tablesorter.addParser({ id: "fancyNumber", is: function(s) { return /^[0-9]?[0-9,\.]*$/.test(s); }, format: function(s) { return jQuery.tablesorter.formatFloat( s.replace(/,/g,'') ); }, type: "numeric" });

    $("table").tablesorter({
        sortList: [[0,0]],
        widgets: ['zebra']
    });
});
</script>

{% endblock %}