{% extends "foreign/foreign_base.html" %}
{% block main_content %}
{% load staticfiles %}

<div class="withNav">

	<h3>Foreign Agent Feed</h3>
	<p>Latest Foreign Agent Registration Act documents from the <a href="http://www.fara.gov/">Department of Justice</a>.</p>
	
</div>
<div class="module withNav">
	<table>
		<thead class="header">
			<th>Registrant</th><th>Date received</th><th>Document type</th><th>Processed</th>
		</thead>
		<tbody>
			{% for c in info.1 %}
				<tr class="{{ c.place }}">
					<td><a href="{{ STATIC_URL }}/{{ c.profile_url }}">{{ c.reg_name }}</a></td>
					<td>{{ c.stamp_date }}</td>
					<td>{{ c.doc_type }}</td>
					<td>{% if c.processed = True %}
							<img src="{% static "dryrub/images/icon_check.png" %}">
						{% else %} 
							<img src="{% static "dryrub/images/icon_cross.png" %}">
						{% endif %}
					</td>

				</tr></a>
			{% endfor %}
		</tbody>
	</table>

	<p>{% if info.0.page.previous >= 0 %}<a href="{{ STATIC_URL }}/incoming_fara/{{ info.0.page.previous }}">Previous Page</a> /{% endif %} Page {{ info.0.page.this }} / <a href="{{ STATIC_URL }}/incoming_fara/{{ info.0.page.next }}">Next Page</a>

	</div>

{% endblock %}