{% extends "foreign/foreign_base.html" %}
{% load staticfiles %}
{% block pagetopics %} Proposed Arms {% endblock %}

{% block ogsharetxt %}
	"Where is the US exporting weapons? Dig into the latest federal arms proposals here. A transparency project from the Sunlight Foundation http://{{ OG_DOMAIN }}{{ request.path }}"
{% endblock %}
{% block fbsharetxt %}
	"Where is the US exporting weapons? Dig into the latest federal arms proposals here. A transparency project from the Sunlight Foundation http://{{ OG_DOMAIN }}{{ request.path }}"
{% endblock %}
{% block twitter %}
	"Where is the US exporting weapons? Dig into the latest federal arms proposals here: #foreigninfluence http://{{ OG_DOMAIN }}{{ request.path }}"
{% endblock %}


{% block main_content %}

<div class="map-left-col">
	<div class="withNav">
		<h4 class="">
			<div class="tip tip-unitalicized">Latest press releases from <a href="http://www.dsca.mil/major-arms-sales/">The Defense Security Cooperation Agency</a>. Keep in mind, the sales mentioned in this feed are only proposed and may not happen. </div>
		</h4>
		<p>
			<span class="moreLink">Click <a href="/about#arms_section">here</a> for an explanation of these records.</span>
		</p>
		<br>
	</div>
</div>
<div class="arms-total-right map-total-right right ">
    <h3><b>ARMS SALES</b></h3>
    <h5>2015 Fiscal Year</h5>
    <h3>
        <span class="strong-grey">
            $<span class="flip-number">3</span><span class="flip-number">6</span>.<span class="flip-number">7</span>
        </span>
        <span class="flip-numbers-label"><i>billion</i>
        </span>
    </h3>
    <h4>Proposed</h4>
</div>
<div class="module withNav">

{% include "foreign/arms_table.html" with results=results info=info %}

</div>

{% endblock %}