{% extends "foreign/foreign_base.html" %}
{% load humanize %}
{% block main_content %}

<div id="floatingNavWrapper">
<div id="floatingNav">        
    <div class="withNav" id="changeDates"><h4>Location Profile {{ results.location }}</h4></div>

    
    <div id="miniNavWrapper">
        <div id="miniNav">
            <ul>
                
                    <li><a href="#client_section">Foreign Lobbying Clients</a></li>
                    
                    <li><a href="#arms_section">Proposed Arms Sales</a></li>
                
            </ul>
        </div>
    </div>
</div>
</div>

<br>
<div class="withNav">
	<h2  class="insideBar">{{ results.location }}</h2> 
</div>

<a class="sectionLink" name="client_section"></a>
<div class="overviewBar withNav withTip">
	<h3 class="insideBar">Foreign Lobbying Clients</h3>
</div>

<div class="module withNav">

	<br>
	{% for c in results.clients %}

	<h5><a href="/client-profile/{{ c.id }}"> {{ c.client_name }}</a></h5>
	{% if c.client_type %}
		<p>{{ c.client_type }}</p>
	{% endif %}


	{% if c.description %}
		<p>{{ c.description }}</p>
	{% endif %}
	
	{% if c.total_payment %}
		<p><a href="/payment-table?client_id={{ c.id }}">${{ c.total_payment|floatformat:2|intcomma }} in payments on behalf of {{ c.client_name }}.</a></p>
	{% endif %}

	{% if c.total_disbursement %}
		<p><a href="/disbursement-table?client_id={{ c.id }}">${{ c.total_disbursements|floatformat:2|intcomma }} in disbursements on behalf of {{ c.client_name }}.</a></p>
	{% endif %}

	{% if c.contacts %}
		<p><a href="/contact-table?client_id={{ c.id }}">{{ c.contacts }} contacts on behalf of {{ c.client_name }}.</a></p>
	{% endif %}

	{% if c.active_reg %}
		<p><b>Foreign Agents that represent the client</b></p>
		<blockquote>
		{% for active in c.active_reg %}
			<p><a href="/reg-profile/{{ active.reg_id }}">{{ active.name }}</a><p> 
		{% endfor %}
		</blockquote>
	{% endif %}

	{% if c.terminated_reg %}
		<p><b>Foreign Agents that formerly represented the client</b></p>
		<blockquote>
		{% for terminated in c.terminated_reg %}
			<p><a href="/reg-profile/{{ terminated.reg_id }}">{{ terminated.name }}</a><p> 
		{% endfor %}
		</blockquote>
	{% endif %}

	<br>

	{% endfor %}

</div>

<a class="sectionLink" name="client_section"></a>
<div class="overviewBar withNav withTip">
	<h3 class="arms_section">Proposed Arms Sales</h3>
</div>

<div class="module withNav">

{% if results.proposed_sales %}

	<p>
		Latest press releases from <a href="http://www.dsca.mil/major-arms-sales/">The Defense Security Cooperation Agency</a>. Keep in mind, the sales mentioned in this feed are only proposed and may not happen. 
	</p>

	{% include "foreign/arms_table.html" with results=results.proposed_sales %}
{% else %}

	<p>
		No press releases from <a href="http://www.dsca.mil/major-arms-sales/">The Defense Security Cooperation Agency</a> found for {{ results.location }}. 
	</p>
{% endif %}

</div>



{% endblock %}