
{% extends "foreign/foreign_base.html" %}
{% block main_content %}

<div class="module">
    <div class="map-left-col">
    	<p class="intro">
            Foreign Influence Explorer documents some of the ways foreign entities influence policy and opinions in the United States.The foreign influence data housed here comes from documents collected by the Department of Justice as required by the <a href="http://www.fara.gov/">Foreign Agents Registration Act</a> and press releases from <a href="http://www.dsca.mil/major-arms-sales/">The Defense Security Cooperation Agency</a>.
            <br><br>
        </p>
	</div>

    <div class="map-total-right right ">
        <h3><b>ARMS SALES</b></h3>
        <h5>2015 Fiscal Year</h5>
        <h3>
            <span class="strong-grey">
                $<span class="flip-number">1</span><span class="flip-number">7</span>.<span class="flip-number">2</span>
            </span>
            <span class="flip-numbers-label"><i>billion</i>
            </span>
        </h3>
        <h4>Proposed</h4>
    </div>

    <div id="fara_map" style="float:left; width: 600px; height: 300px">
    </div>
    <div id="infoBox" style="margin-left: 600px;">
        <div id="infoBoxTitle"><h3>Select a region</h3>
        </div>
        <div id="infoBoxDetails">
                <span class="tip">Click on the map to find foreign influence information about the country or location.</span>
        </div>
    </div>
</div>




{% endblock %}

{% block mapjs %}
<script src="static/foreign/js/d3.v3.min.js"></script>
<script src="http://d3js.org/d3.geo.projection.v0.min.js" charset="utf-8"></script>
<script src="static/foreign/js/topojson.v1.min.js"></script>
<script src="static/foreign/js/datamaps.world.js"></script>
<script src="static/foreign/js/fara_map.js"></script>
{% endblock %}
