{% load humanize %}
<br>

{% if clients %}
	<h4><b>Clients</b></h4>
	{% for c in results.clients %}
		<h4>
			<a href="/client-profile/{{ c.client_id }}">{{ c.name }}</a>
		</h4>
		<blockquote>
		<p>
			Location: <a href="/location-profile/{{ c.location_id }}">{{ c.location }}</a>	
		</p>
		{% if c.primary_contractor %}
			<p>
				Primary contractor: <a href="/location-profile/{{ c.primary_contractor_id }}">{{ c.primary_contractor }}</a>
			</p>
		{% endif %}
		{% if c.contact %}
			<p>
				<a href="/contact-table?reg_id={{ reg_id }}&client_id={{ c.client_id }}">{{ c.contact }} contacts</a> on behalf of the client.
			</p>
		{% endif %}
		{% if c.payment %}
			<p>
				See all <a href="/contact-table?reg_id={{ reg_id }}&client_id={{ c.client_id }}">payments</a> funding the client.
			</p>
		{% endif %}
		{% if c.disbursement %}
			<p>
				See all <a href="/disbursement-table?reg_id={{ reg_id }}&client_id={{ c.client_id }}">disbursements</a> on behalf of the client.
			</p>
		{% endif %}
		</blockquote>
		</br>
	{% endfor %}
	<br>
{% endif %}

{% if terminated_clients %}
	<h4><b>Former Clients</b></h4>
	{% for c in results.terminated_clients %}
		<h4>
			<a href="/client-profile/{{ c.client_id }}">{{ c.name }}</a>
		</h4>
		<blockquote>
		<p>
			Location: <a href="/location-profile/{{ c.location_id }}">{{ c.location }}</a>	
		</p>
		{% if c.contact %}
			<p>
				<a href="/contact-table?reg_id={{ reg_id }}&client_id={{ c.client_id }}">{{ c.contact }} contacts</a> on behalf of the client
			</p>
		{% endif %}
		{% if payment %}
			<p>
				See all <a href="/contact-table?reg_id={{ reg_id }}&client_id={{ c.client_id }}">payments</a> funding the client
			</p>
		{% endif %}
		{% if c.disbursement %}
			<p>
				See all <a href="/disbursement-table?reg_id={{ reg_id }}&client_id={{ c.client_id }}">disbursements</a> on behalf of the client.
			</p>
		{% endif %}
		</br>
		</blockquote>
	{% endfor %}
<br>
{% endif %}