{% extends "foreign/foreign_base.html" %}
{% load humanize %}
{% block main_content %}


<div id="floatingNavWrapper">
<div id="floatingNav" class="">        
    <div class="withNav" id="changeDates"><h4>Foreign Agent Profile {{ results.reg_name }}</h4></div>

    
    <div id="miniNavWrapper">
        <div id="miniNav">
            <ul>
                
                    <li><a href="#profile_section">Summary</a></li>
                
                    <li><a href="#stats_section">Client Statistics</a></li>

                    <li><a href="#docs_section">Documents</a></li>
                
            </ul>
        </div>
    </div>
</div>
</div>




<a class="sectionLink" name="stats_section"></a>
	<div class="overviewBar withNav withTip">
		<h3 class="insideBar">Foreign Agent Summary
        </div>

	
	<div class="withNav">
		<h3 class="insideBar">
		<h3>{{ results.reg_name }}</h3>
		
	</div>
	
	<div class="module withNav">

		<h3 class="insideBar">{{ results.registrant }}</h3>
		<h4></h4>
		<br>

		{% if results.contributions13 %}
			<p>
				${{ results.contributions13|floatformat:2|intcomma }} Contributions by the registrant's employees and or PAC in 2013.
			</p>
		{% endif %}
		{% if results.contributions14 %}
			<p><b>${{ results.contributions14|floatformat:2|intcomma }}</b> 
			{% if results.complete_records14 %}
				Contributions by the registrant's employees and or PAC for 2014.
			{% else %}
				Contributions by the registrant's employees and or PAC for 2014, so far.
			{% endif %}
			</p>
		{% endif %}

		{% if results.total_contributions %}
			<p>
				See all FARA <a href="/contribution-table?reg_id={{ results.reg_id }}">political contribution records</a> from the registrant
			</p>
		{% endif %}


		{% if results.payments2013 %}
		<p>
			<b>${{ results.payments2013|floatformat:2|intcomma }} Payments to the Registrant in 2013.</b>
		</p>
		{% endif %}
		{% if results.payments2014 %}
		<p>
			<b>${{ results.payments2014|floatformat:2|intcomma }}</b>
			{% if results.complete_records14 %}
				Payments by the registrant's employees and or PAC for 2014.
			{% else %}
				Payments by the registrant's employees and or PAC for 2014, so far.
			{% endif %}
		</p>
		{% endif %}
		{% if results.total_payments %}
			<p>
				See all <a href="/payment-table?reg_id={{ results.reg_id }}">payment records</a> to the registrant
			</p>
		{% endif %}
		{% if results.disbursements2013 %}
		<p>
			<b>Payments recived in 2013: ${{ results.disbursements2013|floatformat:2|intcomma }}</b>
		</p>
		{% endif %}
		{% if results.total_disbursements %}
			<p>
				See all <a href="/disbursement-table?reg_id={{ results.reg_id }}">disbursement records</a> to the registrant
			</p>
		{% endif %}

		{% if results.total_contacts %}
			<p>
				<a href="/contact-table?reg_id={{ results.reg_id }}">{{ results.total_contacts }} contacts</a> by the registrant 
			</p>
		{% endif %}

	
	</div>	

	<a class="sectionLink" name="stats_section"></a>
	<div class="overviewBar withNav withTip">
		<h3 class="insideBar">Client Statistics</h3>
	</div>
	<div class="module withNav">

		{% include "foreign/multiple_client_profiles.html" with clients=results.clients terminated_clients=results.terminated_clients reg_id=results.reg_id %}

	</div>

	<a class="sectionLink" name="docs_section"></a>
	<div class="overviewBar withNav withTip">
		<h3 class="insideBar">Documents</h3>
	</div>
	<div class="module withNav">

		{% include "foreign/fara_doc_table.html" with table_info=table_info %}


</div>
{% endblock %}
