{% extends "foreign/foreign_base.html" %}
{% load humanize %}
{% block main_content %}
<div id="floatingNavWrapper">
    <div id="floatingNav">
        
        <div id="miniNavWrapper">
            <div id="miniNav">
                <ul>
                    
                        <li><a href="#profile_section">Registrant Summary</a></li>
                    
                        <li><a href="#stats_section">Client Statistics</a></li>

                        <li><a href="#docs_section">Documents</a></li>
                    
                </ul>
            </div>
        </div>
 	</div>
</div>


	<div class="withNav">
		<h3 class="insideBar">
		<h3>{{ results.reg_name }}</h3>
		
	</div>

	<a class="sectionLink" name="profile_section"></a>
	<div class="overviewBar withNav withTip">
		<h3 class="insideBar">Registrant Summary</h3>
	</div>

	<div class="module withNav">

		<h3 class="insideBar">{{ results.registrant }}</h3>
		<h4>Running totals since 2013</h4>
		<br>

		{% if results.total_contributions  %}
			<p>
				${{ results.total_contributions|floatformat:2|intcomma }} Contributions by the registrant's employees and or PAC.
			</p>
		{% endif %}
		
		{% if results.total_payments %}
			<p>
				${{ results.total_payments|floatformat:2|intcomma }} Payments to the registrant
			</p>
		{% endif %}
		{% if results.total_disbursements %}
			<p>
				${{ results.total_disbursements|floatformat:2|intcomma }} Disbursements to the registrant
			</p>
		{% endif %}

		{% if results.total_contacts %}
			<p>
				{{ results.total_contacts }} Contacts by the registrant
			</p>
		{% endif %}

	
	</div>	

	<a class="sectionLink" name="stats_section"></a>
	<div class="overviewBar withNav withTip">
		<h3 class="insideBar">Client Statistics</h3>
	</div>
	<div class="module withNav">

		{% include "foreign/multiple_client_profiles.html" with clients=results.clients terminated_clients=results.terminated_clients %}

	</div>

	<a class="sectionLink" name="docs_section"></a>
	<div class="overviewBar withNav withTip">
		<h3 class="insideBar">Documents</h3>
	</div>
	<div class="module withNav">

		{% include "foreign/fara_doc_table.html" with table_info=table_info %}


</div>
{% endblock %}
