{% extends "foreign/foreign_base.html" %}
{% load humanize %}
{% load static %}

{% block js %}
<script src="{% static "dryrub/js/jquery.tablesorter.min.js" %}"></script>
{% endblock %}

{% block main_content %}
<div class="module withNav">

<h3>
	2013 Foreign Agent Totals
</h3>
<div class="clear"></div>

<table class="tablesorter" "mainPageTable">
	<thead class="header">
		<th class="sort">Foreign Agent</th>
		<th class="sort">Payments</th>
		<th class="sort">Complete records</th>
		<th class="sort">Federal lobbying</th>
		<th class="sort">State Dept. contacts</th>
		<th class="sort">Media contacts</th>
	</thead>
	<tbody>
		{% for d in data %}
			<tr > 
				<td><a href="/reg-profile/{{ d.reg_id }}">{{ d.reg_name }}</a></td>
				<td>{{ d.payments2013|floatformat:2|intcomma }}</td>
				<td>{{ d.complete_records13 }}</td>
				<td>{{ d.federal_lobbying }}</td>
				<td>{{ d.state_dept_lobbying }}</td>
				<td>{{ d.pr }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>


</div>
<script type="text/javascript">

// - See more at: http://www.christianmontoya.com/2008/11/14/extending-jquery-tablesorter-to-support-comma-delimited-numbers/#sthash.md10swBV.dpuf

$(document).ready(function() { 
    jQuery.tablesorter.addParser({ id: "fancyNumber", is: function(s) { return /^[0-9]?[0-9,\.]*$/.test(s); }, format: function(s) { return jQuery.tablesorter.formatFloat( s.replace(/,/g,'') ); }, type: "numeric" }); 


    $("table").tablesorter({ 
        sortList: [[0,0]], 
        widgets: ['zebra']
    }); 
});
</script>
{% endblock %}