
/* Sub navigation bar matching Real Time. Foreign navigation font is bigger but the proportions should stay consistent  */

/* I need more space in the content header because I have a search box */

#contentHeader { 
    padding-bottom:20px;
    }

#sub_nav {
    height: 10px;
    background: rgba(105,165,159,.17);
    padding: 20px 0 20px 0;
    /* white space under the bar */
    margin-bottom: 45px;
    /* mess with this number to make the top blue bar and the top of the dotted line meet up */
    margin-top: -15px;
    border-bottom: 1px dashed #dcdcd8;
    }

.sub_nav_right{
    float: right;
    margin-right: 25px;
}


#sub_nav li {
    float:left;
    border-right: 1px solid #cacdce;
    /* the 0 keeps the words spaced. the second number is the spacing between words */
    padding: 0 15px;
    /* this moves the text in the blue box */
    line-height: 10px;
    text-align: center;
    font-size: 125%; 
    /* this is does control how far the blue extends and the dotted line*/
    margin-bottom: 20px; 
    /* margin-top will move the top of the blue but not the dotted line*/
    font-weight: normal;
    }

#sub_nav li.last, .content-header-links li.last {
    border-right: none;
    padding-right: 0;
    }

#sub_nav li.first{
    margin-left: 25px;
    }

/*removed white hover color*/
#sub_nav li:hover {
   font-weight: normal;
}


/* added this so the foreign stays highlighted*/
#foreign {
    padding-top: 2px;
    background: rgba(90, 157, 141, .14);
    border: 1px solid rgba(108, 98, 98, .14);
    }

/* pages */
.pagination_container {
    float:right;
    padding-top:0px;
    padding-bottom:0px;
    }

/* tables */
thead {
    border-bottom: solid 1px #DADFDB;
    background: rgba(105,165,159,.17);
}

table .even, li.even, div.even{ 
    background-color: #F6F4F0;
    }

th.sort.header {
    border: 1px solid #DADFDB !important;
    padding-right: 15px;
    padding-left: 20px;
}

th.sort.header.headerSortUp{
    background-color:#D1DBDA !important;
    background: url('/static/dryrub/images/sortArrows_up.png') left center no-repeat;
    } 

th.sort.header.headerSortDown {
    background-color:#D1DBDA !important;
    background: url('/static/dryrub/images/sortArrows_down.png') left center no-repeat;
    }

th.sort.header:hover {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    background-color:#E0EAE9 !important;
    }

.fara-region-fill path {
    stroke: none;
}

.datamaps-subunit text {
    fill: #E5E2E0;
}

#infoBox {
	    margin-left: 600px;
		background-color: #f5f4f4;
		min-height: 280px;
		padding: 20px 20px 20px 30px;
		margin-top: -10px;
	}

#infoBox h3 {
	border-bottom: 1px dashed #DCDCD8;
}

#infoBox ul li {
        margin-left: 25px;
        margin-bottom: 10px;
        font-size: 18px;
} 

.disclaimer {
    padding-right: 2em;
}

.inline {
    display: inline-block;
    margin: 0em 0.2em;
}

.strong-grey {
    color: #797070 !important;
    font-weight: bold;
}

.half-screen-width {
    width: 47%;
    vertical-align: top;
}

.flipped-odd {
    background-color: #F6F4F0;
}

.two-thirds-screen-width {
    width: 66%;
    vertical-align: top;
}

.one-third-screen-width {
    width: 23%;
    vertical-align: top;
    float: right;
}

span.amount-right { 
    margin-right: 5px;
    color: #797070; 
    text-transform: uppercase;
    float: right;
    font-size: 140%; 
    margin-top: 1px;}

a.descriptor { float: right;}

.bold {
    font-weight: bold;
}

.doctype-table {
    width: 22%;
    margin: 0em 0.2em;
    display: inline-block;
    vertical-align: top;
    min-height: 8em;
}

.doctype-table td {
    padding-bottom: 0em;
}

.doctype-table th {
    width: 11em;
}

#fdbk_tab {
    display: none !important;
}

.searchBtn_sm_fara {
    font-family: Arial;
    height: 3.5em;
    width: 5em;
    border-radius: 10px;
    background-color: #EDF3F1;
    color: #0a6e92;
    vertical-align: middle;
    text-indent: 0em;
}


.map-left-col {
    width: 75%;
    display: inline-block;
}

.map-total-right {
    width: 20%;
    float: right;
    display: inline-block;
}

.arms-total-right {
    margin-right: 5%;
}

.map-total-right h3 {
    margin: 0em;
    text-transform: none;
    font-weight: normal;
}

.map-total-right h4 {
    margin-top: 0.4em;
}

.map-total-right h5 {
    margin-bottom: 1em;
    color: black;
}

.flip-number {
    margin: 0.05em;
    padding: 0.2em 0.2em;
    background-image: linear-gradient(to bottom, #b1d5d1, #b1d5d1 50%, #c9e5e9 50%, #c9e5e9);
        background-size: cover;
        background-repeat: no-repeat;
}


.flip-numbers-label {
    color: #797070
}

.interaction-holder {
    vertical-align: top;
    margin: 0.5em;
    padding: 0.8em;
    width: 44%;
    display: inline-block;
    color: #797070;
}

.interaction-holder:hover {
    background-color: #EDF3F1;
}

.interaction-holder p {
    margin: 0em auto;
}

.interaction-details {
    display: inline-block;
    vertical-align: top;
    margin: 0em;
    padding: 0em;
    width: 72%;
}

.interaction-amount {
    display: inline-block;
    float: right;
    vertical-align: top;
    margin: 0em;
    padding: 0em;
    width: 27%;
    text-align: right;
}

.blue-text {
    color: #0a6e92;
}

.tip {
    text-transform: none;
}

.withTip h3 {
    margin-bottom: 0em;
}

.document-primer-wrapper {
padding-top: 6px; z-index: 3; position: absolute; top: 263px; 
}

.document-primer { background-color: #03212b; width: 88px; padding: 0px; color: #fff; line-height: 15px; font-size: 90%; font-family: Georgia, Times New Roman, Times, serif; font-style: oblique;}
.document-primer:hover {background-color: #053749;}
.document-primer li {padding: 0px 17px 15px 16px; margin-left: -10px;}
.document-primer li a { color: #fff; padding-top: 2px; display: block; border: 0; }
.document-primer li a:hover { text-decoration: none;}

.sort {
    background: url(../images/sortArows.png) 8px left no-repeat !important;
    cursor: pointer;
}

.arms-tab {
    background-color: #dcc000;
    margin: 0px;
    padding: 15px 5px;
}

#mainContent #contentHeader h2 {
    font-size: 3.2em;
}

#mainContent #contentHeader input {
    font-size: 1em;
    font-style: italic;
}